.Comprobante{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 15px;
    background-color: #d6cccc;
    box-shadow: 0 4px 8px rgba(16, 16, 16, 0.1);
  

}